.bg-header{
    background-color: #FFFBF0;
}
.fs-0{
font-size: 70px;
color: #FABE4C;
}
.btn-green{
    background-color: #A4BC46;
}
.btn-buy{
    width: 120px;
    height: 40px;
   
}
.bg-jacket{
    color: #363958;
    font-size: 48px ;
}
.bg-grey{
    background-color: #F1F1F1;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 15px;
}